# --------------------------------------
# Data & large files
# --------------------------------------
data/
*.csv
*.zip
*.json
*.xlsx

# --------------------------------------
# Jupyter Notebook cache & metadata
# --------------------------------------
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*/.nb-metadata.json
*/.nb-metadata
*.nb-metadata.json

# VSCode Jupyter metadata
**/.vscode/
*/.jupyterlab-metadata

# Jupyter runtime (local kernel data)
.jupyter/
.local/share/jupyter/
~/.local/share/jupyter/

# --------------------------------------
# Python cache
# --------------------------------------
_pycache_/
*.pyc
*.pyo
*.pyd

# --------------------------------------
# OS / editor noise
# --------------------------------------
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# --------------------------------------
# Environments
# --------------------------------------
.env
.env.*
venv/
.venv/
env/
ENV/

# --------------------------------------
# Logs
# --------------------------------------
*.log
logs/